<div class="container">
    <div class="row m-1">
        <div class="col">
            <h2>¿Estas seguro que quieres eliminar este movimiento?</h2>
        </div>
    </div>

    <div class="row m-1 justify-content-center">
        <div class="col-5">
            <button type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
        </div>
        <div class="col-5">
            <button type="button" class="btn btn-danger" (click)="delete()">Eliminar</button>
        </div>
    </div>
</div>