<div *ngIf="infoSunat" class="container border my-2">
  <mat-progress-bar *ngIf="progress_bar" mode="indeterminate"></mat-progress-bar>
  <div class="row m-2">
    <div class="col-4">
      <div class="alert alert-primary" role="alert">
        Compra:  {{infoSunat?.compra}}
      </div>
    </div>
    <div class="col-4">
      <div class="alert alert-primary" role="alert">
        Venta:  {{infoSunat?.venta}}
      </div>
    </div>
    <div class="col-4">
      <div class="alert alert-primary" role="alert">
        Fecha:  {{infoSunat?.fecha}}
      </div>
    </div>
  </div>
  <div class="row m-3 justify-content-end">
    <div class="col">
      <div class="mb-3">
        <label for="formFile" class="form-label">Carga tu archivo .CSV o .XLSX</label>
        <input class="form-control" type="file" (change)="csvImport($event)" id="formFile" accept=".csv, .xlsx">
      </div>
      <!-- <input class="btn btn-primary" type="file" value="Input"  accept=".csv .xlsx"> -->
    </div>
  </div>

  <div class="row" *ngIf="movements.length > 0">
    <div class="col">
      <div class="alert alert-danger" role="alert">
        Coloca el puntero encima de los montos para poder ver el valor en USD
      </div>
    </div>
  </div>

  <div class="row border">
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Descripción</th>
            <th scope="col">Monto</th>
            <th scope="col">Moneda</th>
            <th scope="col">Codigo</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mov of movements; let i = index">
            <th scope="row">{{mov.fecha}}</th>
            <td>{{mov.descripcion}}</td>
            <td [matTooltip]=" mov.extra ? mov.extra + ' USD' : ''"
              matTooltipPosition="left">{{mov.monto}}</td>
            <td>{{mov.converted ? 'USD → ': ''}} {{mov.moneda}}</td>
            <td>{{mov.codigo_unico}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-primary mx-2" (click)="openDialogEdit(mov, i)">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
              </button>

              <button type="button" class="btn btn-sm btn-danger" (click)="openDialogDelete(i)">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
              </button>
           
              
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>